<h2>Update animal details</h2>
<form method="POST" action="/index/animals/<%= @animal.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @animal.name %>"/>
    </div>

    <div class="form-el">
      <label for="type">Type:</label>
      <input type="text" name="type" id="type" value="<%= @animal.type %>"/>
    </div>

    <div class="form-el">
      <label for="date_of_birth">Date of birth:</label>
      <input type="text" name="date_of_birth" id="date_of_birth" value="<%= @animal.date_of_birth %>"/>
    </div>

    <div class="form-el">
      <label for="owner_select">Owner:</label>
      <select name="owner_id" id="owner_select" selected="<%= @animal.owner_id %>">
        <% @owners.each do |owner| %>
        <% if owner.id == @animal.owner_id %>
            <option value=<%= owner.id %>select><%= owner.name %></option>
        <% else %>
            <option value=<%= owner.id %>><%= owner.name %></option>
        <% end %>
      <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="vet_select">Select vet:</label>
      <select name="vet_id" id="vet_select" selected="<%= @animal.vet_id  %>">
        <% @vets.each do |vet| %>
          <% if vet.id == @animal.vet_id %>
            <option value=<%= vet.id %>select><%= vet.name %></option>
          <% else %>
            <option value=<%= vet.id %>><%= vet.name %></option>
            <% end  %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="notes">Treatment notes:</label>
      <input type="text" name="notes" id="notes" value="<%= @animal.notes %>"/>
    </div>

    <div>
      <input type="submit" value="Update details"/>
    </div>

  </div>
</form>
