<br><a id="button" href="/index/animals/new">Register animal</a><br><br><br>
<h3>ANIMALS:</h3>
<div class="indexData">


  <% @animals.each do |animal| %>

    <h4><a href="/index/animals/<%= animal.id%>"><span id = "animal_color"><%= animal.name %></span></a></h4>
    <p><span>Type: </span><%= animal.type.capitalize %></p>
    <p><span>Vet:</span> <span id = "vet_color"><%= animal.vets.name %></span></p>
    <p><span>Owner:</span> <a href="/index/owners/<%= animal.owners.id%>"><span id = "owner_color"><%= animal.owners.name %></span></a></p>
<br>


  <% end %>

  </div>
