
<div class="showData">


<h2><%= @animal.name %></h2>

<p>Type: <span><%= @animal.type %></span></p>
<p>Date of birth: <span><%= @animal.date_of_birth %></span></p>
<p>Owner: <span><a href="/index/owners/<%= @animal.owners.id%>"><%= @animal.owners.name %></a></span></p>
<p>Vet: <span><%= @animal.vets.name %></span></p>
<p>Treatment notes: <span><%= @animal.notes%></span></p>

</div>
<br><br>

<a href="/index/animals/<%= @animal.id %>/edit">Update animal details</a>
<form action="/index/animals/<%= @animal.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
