<h1>Owners</h1>


    <% @owners.each do |owner| %>

    <div class="owner">
      <h3><%= owner.name %></h3>
      <p>Phone number: <%= owner.phone %></p>
      <p>Address: <%= owner.address %></p>
      <p>Animals:<br> <%owner.animals.each do |animal| %>
          <a href="/index/animals/<%= animal.id%>"><%= animal.name %></a>
                  <br>
                  <% end %>

      </p>


    </div>

    <% end %>
