<h2><%= @owner.name %></h2>

<p>Phone number: <%= @owner.phone %></p>
<p>Address: <%= @owner.address %></p>
<p>Owner: <a href="/index/animals/<%= @owner.animals.id%>"><%= @owner.animals.name %></a></p>
